.container {
  margin: 20px auto;
  width: 800px;
  padding: 80px 20px 20px 20px;
}

.container h1 {
  font-size: 17pt;
}

nav {
  top:0;
  position: fixed;
  padding: 3px;
  width: 100%;
  background-color: #D65A29;
  color: #636563;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  float: left;
  color: black;
}

nav ul li a {
  text-decoration: none;
}

nav li {
  display: inline;
  margin: 0 10px;
  color: gray;
  text-decoration: none;
}

nav h1 {
  color: black;
  float: right;
  margin: 10px;
  padding-right: 12px;
}

nav li a:hover {
  text-decoration: underline;
}

form label {
  font-weight: bold;
  margin-right: 20px;
}

input {
  margin-bottom: 10px;
}

.errors {
  color: red;
}

form.quirks {
  display: inline-block;
}

.submit {
  text-align: center;
}

.label {
  font-weight: bold;
  float: left;
  text-align: right;
  margin-right: 20px;
  width: 200px;
}

#sign-out input {
  border:none;
  background:none;
  font-weight: :bold;
}

.gravatar {
  padding-top: 150px;
  text-align: center;
}
