<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Followers</a></li>
    <li><a href="#">Following</a></li>
    <li><a href="#">Signout</a></li>
  </ul>

  <h1>Batter</h1>
</nav>
