<nav>
  <ul>
    <li><a href="/users/<%= @user.id %>/feed">Home</a></li>
    <li><a href="/users/<%= @user.id %>/profile">Profile</a></li>
    <li><a href="/users/<%= @user.id %>/followers">Followers</a></li>
    <li><a href="/users/<%= @user.id %>/following">Following</a></li>
    <li><a href="/logout">Signout</a></li>
  </ul>

  <h1>Bat-ter</h1>
</nav>
